<%= form_with(model: parttime_job) do |form| %>
  <% if parttime_job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(parttime_job.errors.count, "error") %> prohibited this parttime_job from being saved:</h2>

      <ul>
        <% parttime_job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "シゴトの名前" %><br>
    <%= form.text_field :name, class: "w-full border-[2px] rounded-[12px] px-6 py-2" %>
  </div>

  <div>
    <%= form.label "シゴトのカテゴリー"%><br>
<%= form.select :category, ParttimeJob::CATEGORIES, {}, class: "w-full border-[2px] rounded-[12px] px-6 py-2" %>
  </div>

  <div>
    <%= form.submit "追加する", class: "w-full mt-12 bg-blue-600 text-white px-4 py-2 rounded-[8px] hover:bg-blue-600"  %>
  </div>
<% end %>
