<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "名前", style: "display: block" %>
    <%= form.text_field :name, class: "w-full border-[2px] rounded-[12px] px-6 py-2" %>
  </div>

  <div>
    <%= form.label "メールアドレス", style: "display: block" %>
    <%= form.text_field :email, class: "w-full border-[2px] rounded-[12px] px-6 py-2" %>
  </div>

  <div>
    <%= form.label "パスワード", style: "display: block" %>
    <%= form.text_field :password, class: "w-full border-[2px] rounded-[12px] px-6 py-2" %>
  </div>

  <div>
    <%= form.submit "アカウントを作成する" , class: "w-full mt-12 bg-blue-600 text-white px-4 py-2 rounded-[8px] hover:bg-blue-600" %>
  </div>
  <div class="mt-4">
    <p class="text-center">すでにアカウントをお持ちですか？<br> <%= link_to "ログイン", login_path, class: "border-b" %></p>
  </div>
<% end %>
