

<p>
  <strong>名前：</strong>
  <%= @user.name %>
</p>

<p>
  <strong>メールアドレス：</strong>
  <%= @user.email %>
</p>

<div>
  <%= link_to "このユーザーを編集", edit_user_path(@user) %><br>
  <%= button_to "このユーザーを削除", @user, method: :delete, data: { confirm: "本当に削除しますか？" } %>
</div>

<div>
 <%= link_to "ホームに戻る", root_path %>
</div>
